<div class="login">
  <app-toolbar class="login__toolbar">
    <app-toolbar-title>Login</app-toolbar-title>
  </app-toolbar>
  <form
    class="login__form"
    [formGroup]="loginForm"
    novalidate
    (ngSubmit)="onSubmit()"
  >
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
              <mat-error
                *ngIf="loginForm.controls['username'].hasError('required')"
              >
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
              />
              <mat-error
                *ngIf="loginForm.controls['password'].hasError('required')"
              >
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="login__auth-error">
          <mat-error *ngIf="authenticationFailed">
            <small>Username or password not <strong>correct</strong></small>
          </mat-error>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          [disabled]="!loginForm.valid"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
