.dashboard {
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .dashboard-card-content {
    text-align: center;
  }

  .row > * {
    margin: 0 16px;
  }

  .search-result__label {
    padding: 8px;
  }

  .form,
  .form-search,
  .default-card {
    width: 100%;
  }

  .search__content,
  .dashboard__forms {
    display: flex;
  }

  .dashboard__forms .default-card {
    flex-grow: 1;
  }
}
