<app-sidenav mode="push" class="dashboard">
  <div *appSidenavPanel>
    <mat-toolbar>Configuration</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']">Option 1</a>
      <a mat-list-item [routerLink]="['/dashboard']">Option 2</a>
      <a mat-list-item [routerLink]="['/dashboard']">Option 3</a>
    </mat-nav-list>
  </div>
  <div *appSidenavContent="let drawer">
    <app-toolbar>
      <app-toolbar-title>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">build</mat-icon>
        </button>
        <span>Dashboard</span>
      </app-toolbar-title>
      <app-toolbar-actions>
        <span routerLink="">Home</span>
        <span (click)="onLogout()">Logout</span>
      </app-toolbar-actions>
    </app-toolbar>
    <div class="grid-container">
      <h1 class="mat-h1">Dashboard</h1>
      <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile
          *ngFor="let card of cards | async"
          [colspan]="card.cols"
          [rowspan]="card.rows"
        >
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{ card.title }}
                <button
                  mat-icon-button
                  class="more-button"
                  [matMenuTriggerFor]="menu"
                  aria-label="Toggle menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>Card Content Here</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</app-sidenav>
