<app-sidenav mode="push" class="dashboard">
  <app-sidenav-panel>
    <mat-toolbar>Configuration</mat-toolbar>
    <form
      class="form-sizes"
      [formGroup]="sizesForm"
      novalidate
      (ngSubmit)="setSizes()"
    >
      <mat-card class="default-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content class="search__content">
          <div class="col">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="shelfs"
                formControlName="shelfSize"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="shelves"
                formControlName="shelvesSize"
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="!sizesForm.valid"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </app-sidenav-panel>
  <ng-container *appSidenavContent="let drawer">
    <app-toolbar>
      <app-toolbar-title>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">build</mat-icon>
        </button>
        <span>Dashboard</span>
      </app-toolbar-title>
      <app-toolbar-actions>
        <span routerLink="">Home</span>
        <span class="dashboard__logout" (click)="onLogout()">Logout</span>
      </app-toolbar-actions>
    </app-toolbar>
    <div class="row dashboard__forms">
      <form
        class="form"
        [formGroup]="addBookForm"
        novalidate
        (ngSubmit)="addBook()"
      >
        <mat-card class="default-card">
          <mat-card-header>
            <mat-card-title></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="title"
                  formControlName="title"
                />
                <mat-error
                  *ngIf="addBookForm.controls['title'].hasError('required')"
                >
                  title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="author"
                  formControlName="author"
                />
                <mat-error
                  *ngIf="addBookForm.controls['author'].hasError('required')"
                >
                  author is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input
                  type="number"
                  matInput
                  placeholder="size"
                  formControlName="size"
                />
                <mat-error
                  *ngIf="addBookForm.controls['size'].hasError('required')"
                >
                  size is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="addBookForm.controls['size'].hasError('maxInteger')"
                >
                  max size <strong>reached</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              [disabled]="!addBookForm.valid"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Add
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
      <form
        class="form-search"
        [formGroup]="searchForm"
        novalidate
        (ngSubmit)="searchBook()"
      >
        <mat-card class="default-card">
          <mat-card-header>
            <mat-card-title></mat-card-title>
          </mat-card-header>
          <mat-card-content class="search__content">
            <div class="row">
              <mat-form-field>
                <input
                  type="text"
                  matInput
                  placeholder="search"
                  formControlName="search"
                />
              </mat-form-field>
            </div>
            <div class="search-result" *ngIf="searchResult">
              <span class="search-result__label"
                >Shelves: {{ searchResult.shelves }}</span
              >
              <span class="search-result__label"
                >Shelf: {{ searchResult.shelf }}</span
              >
              <span class="search-result__label"
                >Position: {{ searchResult.position }}</span
              >
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              [disabled]="!searchForm.valid"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Search
            </button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>

    <div *ngFor="let shelving of shelves$ | async; trackBy: trackByFn">
      <div
        class="grid-container grid-list-container"
        *ngFor="let shelf of shelving | keyvalue; trackBy: trackByFn"
      >
        <mat-card
          *ngFor="let book of shelf.value | keyvalue; trackBy: trackByFn"
        >
          <mat-card-header>
            <mat-card-title>
              {{ book.value.title }}
              <button
                mat-icon-button
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button
                  class="remove-book"
                  mat-menu-item
                  (click)="removeBook(book.key)"
                >
                  Remove
                </button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Author: {{ book.value.author }}</div>
            <div>Size: {{ book.value.size }}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-container>
</app-sidenav>
